body{
	text-align: center;
}

@font-face{
	font-family: product sans;
	src: url("/home/castro/git/negaodabl/font/Product Sans Bold.ttf");
}

.tt{
	background-color: #A9A9A9;
	border-top-right-radius:10px;
	border-top-left-radius: 10px;
	font-size: 60px;
	font-family: product sans;
}

.cont{
	top:200px;
	left: 50%;
	transform: translate(-50%);
	background: #EEE;
	height: 40vh;
	width: 100vh;
	position: relative;
	border-radius: 40px;
}

.bott{
	position: absolute;
	top: 55%;
	left:50%;
	transform: translate(-50%, -50%);
}
